### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [82]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../DataClass/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [83]:
player_count = len(purchase_data["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
number_of_items=len(purchase_data["Item ID"].value_counts())
number_of_items
price=purchase_data["Price"].mean()
price
total_purchases=len(purchase_data["Purchase ID"])
total_purchases
revenue=purchase_data["Price"].sum()
revenue
purchasing_df=pd.DataFrame({"Number of Unique Items":[number_of_items],
                             "Average Price":[price],
                          "Number of Purchases":[total_purchases],
                           "Total Revenue":[revenue]})
purchasing_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [85]:
gender_count=purchase_data["Gender"].value_counts()
gender_df=pd.DataFrame(gender_count)
gender_df.head()

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15


## Purchasing Analysis (Gender)

In [86]:
gender_df=gender_df.rename(columns={"Gender":"Count"})
gender_df.head()

                       Count
Male                     652
Female                   113
Other / Non-Disclosed     15

In [87]:
gen_total=gender_df['Count'].sum()
gen_total

780

In [88]:
percent_count=gender_df["Count"]/gen_total*100
gender_df["Percentage"]=percent_count
gender_df.head()

                       Count  Percentage
Male                     652   83.589744
Female                   113   14.487179
Other / Non-Disclosed     15    1.923077

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
grp_gender=purchase_data.groupby(["Gender"])
price_comp=grp_gender["Price"].mean()
price_comp
total_purch=grp_gender["Price"].sum()
total_purch
total_count_gender = grp_gender.nunique()["SN"]
total_count_gender
purch_pp=total_purch/total_count_gender
purch_pp
gender_df["Average Purchase Price"]=price_comp
gender_df["Total Purchase Value"]=total_purch
gender_df["Purchase Per Person"]=purch_pp
newgender_df=gender_df.iloc[:,[0,2,3,4]]
newgender_df

,Count,Average Purchase Price,Total Purchase Value,Purchase Per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [98]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.40, 9999]
age_grp=["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

# Slice the data and place it into bins


purchase_data["agegrp"]=pd.cut(purchase_data["Age"], bins, labels=age_grp, right=False)
purchase_data.head()

num_grp= purchase_data.groupby("agegrp")
tot_age=purchase_data["agegrp"].value_counts()
percent_age=100*tot_age/player_count
percent_age
Demographics_df=pd.DataFrame(tot_age)
Demographics_df["Percentage"]=percent_age
Demographics_df["Percentage"]=Demographics_df["Percentage"].map("{:.2f}%".format)
Demographics_df

          agegrp Percentage
20 to 24     365     63.37%
15 to 19     136     23.61%
25 to 29     101     17.53%
30 to 34      73     12.67%
35 to 39      41      7.12%
10 to 14      28      4.86%
<10           23      3.99%
40+           13      2.26%

## Purchasing Analysis (Age)

In [78]:
gender_purchase=purchase_data.groupby(['agegrp'])
 #Purchase Count
gender_purchase_count=gender_purchase['Item ID'].count()
Age_df=pd.DataFrame(gender_purchase_count)
Age_df

          Item ID
agegrp
<10            32
10 to 14       54
15 to 19      200
20 to 24      325
25 to 29       77
30 to 34       52
35 to 39       33
40+             7

In [79]:
#Average Purchase Price
purchase_avg=gender_purchase["Price"].mean()
Age_df["Avg Purchase Price"]=purchase_avg
Age_df

          Item ID  Avg Purchase Price
agegrp
<10            32            3.405000
10 to 14       54            2.900000
15 to 19      200            3.107800
20 to 24      325            3.020431
25 to 29       77            2.875584
30 to 34       52            2.994423
35 to 39       33            3.404545
40+             7            3.075714

In [80]:
#Total Purchase Value
tpurch_value=gender_purchase["Price"].count()

In [81]:
#Average Purchase Total per Person by Age Group
apurch_pp=tpurch_value/gender_purchase_count
Age_df["Avg Total Purchase PP "]=apurch_pp
Age_df

          Item ID  Avg Purchase Price  Avg Total Purchase PP
agegrp
<10            32            3.405000                     1.0
10 to 14       54            2.900000                     1.0
15 to 19      200            3.107800                     1.0
20 to 24      325            3.020431                     1.0
25 to 29       77            2.875584                     1.0
30 to 34       52            2.994423                     1.0
35 to 39       33            3.404545                     1.0
40+             7            3.075714                     1.0

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [65]:

 
count_spend = purchase_data['SN'].value_counts()
count_spend
tot_spend = purchase_data.groupby(purchase_data['SN']).sum()
newtot_spend=tot_spend.iloc[:,3]
newtot_spend

avg_spend = purchase_data.groupby(purchase_data['SN']).mean()
newavg_spend=avg_spend.iloc[:,3]
newavg_spend=newavg_spend.map("{:.2f}".format)
newavg_spend


newspend_df=pd.DataFrame({"Purchase Count":count_spend,
                            "Total Purchase":newtot_spend,
                          "Average Spend" : newavg_spend })
newspend_df

newspend_df.sort_values(["Purchase Count"],inplace=True,ascending=False)
newspend_df






#purchase count
    #purch_count=pd.DataFrame({'Purchase Count': purchase_data['SN'].value_counts()})
    #purch_count
newspend_df.iloc[0:5,]

             Purchase Count  Total Purchase Average Spend
Lisosia93                 5           18.96          3.79
Iral74                    4           13.62          3.40
Idastidru52               4           15.45          3.86
Asur53                    3            7.44          2.48
Inguron55                 3           11.11          3.70

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
# Dataframe for Item ID, Item Name and Price
Item_df=pd.DataFrame({"Item ID":purchase_data["Item ID"],
                     "Item Name":purchase_data["Item Name"],
                     "Item Price":purchase_data["Price"]})


item_count=purchase_data["Item ID"].value_counts()

item_count.sort_values(inplace=True,ascending=False)
item_count


Item_df['Purchase Count']=item_count
Item_df.head



#total Purchase value
item_total=Item_df.groupby(['Item ID'])
purchaseitem_total=item_total['Item Price'].sum()

purchaseitem_total
        #purchaseitem_total.sort_values(inplace=True,ascending=False)
Item_df["Total Purchase"]=purchaseitem_total


Item_df.sort_values(["Purchase Count"],inplace=True,ascending=False)
Item_df

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase
178,57,"Despair, Favor of Due Diligence",4.60,12.0,50.76
145,46,Hopeless Ebon Dualblade,1.33,9.0,41.22
108,85,Malificent Bag,1.75,9.0,31.77
82,160,Azurewrath,4.40,9.0,44.10
19,89,"Blazefury, Protector of Delusions",4.64,8.0,8.16
103,7,"Thorn, Satchel of Dark Souls",1.33,8.0,34.80
75,124,Venom Claymore,1.29,8.0,19.36
72,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,8.0,30.16
60,44,Bonecarvin Battle Axe,2.38,8.0,28.32
59,105,Hailstorm Shadowsteel Scythe,3.03,8.0,33.84
37,73,Ritual Mace,2.05,8.0,25.28
34,160,Azurewrath,4.40,8.0,17.76
92,39,"Betrayal, Whisper of Grieving Widows",3.94,8.0,39.04
53,176,Relentless Iron Skewer,2.84,7.0,14.35
110,139,"Mercy, Katana of Dismay",4.94,7.0,10.08
7,162,Abyssal Shard,2.67,7.0,9.31
71,29,"Chaos, Ender of the End",1.98,7.0,11.27
117,117,"Heartstriker, Legacy of the Light",1.79,7.0,12.53
159,39,"Betrayal, Whisper of Grieving Widows",3.94,7.0,21.56
85,33,Curved Axe,1.16,7.0,12.25
164,96,Blood-Forged Skeletal Spine,3.09,7.0,11.41
141,60,Wolf,3.54,7.0,22.33
78,50,Dawn,4.60,7.0,30.80
102,109,"Downfall, Scalpel Of The Emperor",4.76,6.0,20.64
129,74,Yearning Crusher,4.18,6.0,9.24
93,88,"Emberling, Defender of Delusions",3.75,6.0,11.82
54,25,Hero Cane,4.35,6.0,15.00
3,100,Blindscythe,3.27,6.0,14.94
2,92,Final Critic,4.88,6.0,14.88
40,143,Frenzied Scimitar,1.56,6.0,15.12
...,...,...,...,...,...
750,167,"Malice, Legacy of the Queen",3.61,NaN,NaN
751,180,Stormcaller,3.36,NaN,NaN
752,112,Worldbreaker,2.60,NaN,NaN
753,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,NaN,NaN
754,79,"Alpha, Oath of Zeal",4.05,NaN,NaN
755,76,Haunted Bronzed Bludgeon,3.15,NaN,NaN
756,73,Ritual Mace,2.05,NaN,NaN
757,57,"Despair, Favor of Due Diligence",4.60,NaN,NaN
758,182,Toothpick,4.03,NaN,NaN
759,72,Winter's Bite,3.77,NaN,NaN
760,44,Bonecarvin Battle Axe,2.38,NaN,NaN
761,17,"Lazarus, Terror of the Earth",1.70,NaN,NaN
762,110,Suspension,1.44,NaN,NaN
763,85,Malificent Bag,1.75,NaN,NaN
764,113,Solitude's Reaver,4.07,NaN,NaN
765,130,Alpha,2.07,NaN,NaN
766,58,"Freak's Bite, Favor of Holy Might",4.14,NaN,NaN
767,92,Final Critic,4.88,NaN,NaN
768,92,Final Critic,4.88,NaN,NaN
769,145,Fiery Glass Crusader,4.58,NaN,NaN
770,12,Dawne,1.02,NaN,NaN
771,25,Hero Cane,4.35,NaN,NaN
772,136,Ghastly Adamantite Protector,3.58,NaN,NaN
773,19,"Pursuit, Cudgel of Necromancy",1.02,NaN,NaN
774,101,Final Critic,4.19,NaN,NaN
775,60,Wolf,3.54,NaN,NaN
776,164,Exiled Doomblade,1.63,NaN,NaN
777,67,"Celeste, Incarnation of the Corrupted",3.46,NaN,NaN
778,101,Final Critic,4.19,NaN,NaN
779,50,Dawn,4.60,NaN,NaN

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [73]:
Item_df.sort_values(["Total Purchase"],inplace=True,ascending=True)
Item_df

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase
42,72,Winter's Bite,3.77,1.0,1.75
104,53,Vengeance Cleaver,2.05,1.0,1.93
23,151,Severance,3.40,1.0,1.99
126,75,Brutality Ivory Warmace,2.42,1.0,2.00
125,62,Piece Maker,1.87,2.0,2.00
28,119,"Stormbringer, Dark Blade of Ending Misery",4.32,2.0,2.12
118,78,"Glimmer, Ender of the Moon",4.40,1.0,2.17
26,71,Demise,1.61,2.0,2.24
33,44,Bonecarvin Battle Axe,2.38,2.0,2.32
90,60,Wolf,3.54,1.0,2.94
168,85,Malificent Bag,1.75,2.0,2.96
31,179,"Wolf, Promise of the Moonwalker",4.48,2.0,3.10
183,15,Soul Infused Crystal,2.96,3.0,3.27
27,96,Blood-Forged Skeletal Spine,3.09,1.0,3.30
180,95,Singed Onyx Warscythe,4.74,1.0,3.36
47,170,Shadowsteel,3.97,1.0,3.58
69,37,"Shadow Strike, Glory of Ending Hope",3.16,2.0,3.96
115,13,Serenity,1.41,2.0,4.08
70,143,Frenzied Scimitar,1.56,4.0,4.12
177,135,Warped Diamond Crusader,1.40,2.0,4.16
91,59,"Lightning, Etcher of the King",4.23,1.0,4.17
135,146,Warped Iron Scimitar,3.10,3.0,4.20
30,140,Striker,2.94,2.0,4.42
134,2,Verdict,2.48,1.0,4.50
51,15,Soul Infused Crystal,2.96,1.0,4.66
158,111,Misery's End,4.89,2.0,4.90
48,138,"Peacekeeper, Wit of Dark Magic",4.74,2.0,4.96
155,98,"Deadline, Voice Of Subtlety",2.89,5.0,5.05
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,4.0,5.12
124,150,Deathraze,2.85,4.0,5.16
...,...,...,...,...,...
750,167,"Malice, Legacy of the Queen",3.61,NaN,NaN
751,180,Stormcaller,3.36,NaN,NaN
752,112,Worldbreaker,2.60,NaN,NaN
753,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,NaN,NaN
754,79,"Alpha, Oath of Zeal",4.05,NaN,NaN
755,76,Haunted Bronzed Bludgeon,3.15,NaN,NaN
756,73,Ritual Mace,2.05,NaN,NaN
757,57,"Despair, Favor of Due Diligence",4.60,NaN,NaN
758,182,Toothpick,4.03,NaN,NaN
759,72,Winter's Bite,3.77,NaN,NaN
760,44,Bonecarvin Battle Axe,2.38,NaN,NaN
761,17,"Lazarus, Terror of the Earth",1.70,NaN,NaN
762,110,Suspension,1.44,NaN,NaN
763,85,Malificent Bag,1.75,NaN,NaN
764,113,Solitude's Reaver,4.07,NaN,NaN
765,130,Alpha,2.07,NaN,NaN
766,58,"Freak's Bite, Favor of Holy Might",4.14,NaN,NaN
767,92,Final Critic,4.88,NaN,NaN
768,92,Final Critic,4.88,NaN,NaN
769,145,Fiery Glass Crusader,4.58,NaN,NaN
770,12,Dawne,1.02,NaN,NaN
771,25,Hero Cane,4.35,NaN,NaN
772,136,Ghastly Adamantite Protector,3.58,NaN,NaN
773,19,"Pursuit, Cudgel of Necromancy",1.02,NaN,NaN
774,101,Final Critic,4.19,NaN,NaN
775,60,Wolf,3.54,NaN,NaN
776,164,Exiled Doomblade,1.63,NaN,NaN
777,67,"Celeste, Incarnation of the Corrupted",3.46,NaN,NaN
778,101,Final Critic,4.19,NaN,NaN
779,50,Dawn,4.60,NaN,NaN