In [1]:
import pandas as pd

In [2]:
budget_file="Resources/budget_data.csv"

In [3]:
# Use Pandas to read data
budget_file_pd = pd.read_csv(budget_file)
budget_file_pd.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [4]:
# Use Pandas to decribe
budget_file_pd.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [15]:
total_file=budget_file_pd["Date"].str.split('-', 1).str[0]

num_months=len(total_file)
print(num_months)

86

In [6]:
calc=budget_file_pd["Profit/Losses"].sum()
calc
print(calc)

38382578

In [7]:
change_list = [] 
i=1
for row in range(0,len(budget_file_pd["Profit/Losses"])-1):    
    change=budget_file_pd.iloc[i,1] - budget_file_pd.iloc[i-1,1]
    change_list.append(change)
    i += 1
    
    
    #change = difference between this row and last row

avg = round(sum(change_list)/len(change_list),2)
avg

-2315.12

In [12]:
lowest = min(change_list)
idx = change_list.index(lowest)
month = budget_file_pd.iloc[idx+1,0]

print(lowest)
print(month)

-2196167
Sep-2013

In [14]:
highest = max(change_list)
idex = change_list.index(highest)
month1 = budget_file_pd.iloc[idex+1,0]

print(highest)
print(month1)

1926159
Feb-2012

In [31]:
budget_file_pd.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [28]:
print('Financial Analysis')
print('----------------------------')
print('Total Months: {}'.format(num_months))
print('Total: ${}'.format(calc))
print('Average Change: ${}'.format(avg))
print('Greatest Increase in Profits: {}, ${}'.format(month1, highest))
print('Greatest Decrease in Profits: {}, ${}'.format(month, lowest))

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012, $1926159
Greatest Decrease in Profits: Feb-2012, $-2196167