In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import time
from selenium import webdriver
import pandas as pd

In [2]:
#NASA Mars News

In [3]:
url = 'https://mars.nasa.gov/news'
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = bs(response.text, 'html.parser')

In [4]:
# Latest news Title
news_title = soup.find('div', class_ ='content_title')
print (news_title)

<div class="content_title">
<a href="/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/">
NASA's Opportunity Rover Mission on Mars Comes to End
</a>
</div>

In [5]:
#  News Paragraph 
news_paragraphs = soup.find('div', class_='rollover_description_inner')
print(news_paragraphs.text)

NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

In [6]:
#JPL Mars Space Images - Featured Image

In [7]:

browser = Browser('chrome', headless=False)
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)

In [8]:
html = browser.html
soup2 =bs(html, 'html.parser')

featured_img= soup2.find_all('div',class_='carousel_items')
print (featured_img)

[<div class="carousel_items">
<article alt="Dawn HAMO Image 38" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA19980-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Dawn HAMO Image 38				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="This image, taken by NASA's Dawn spacecraft, shows a portion of the southern hemisphere of dwarf planet Ceres from an altitude of 915 miles (1,470 kilometers). The image was taken on Sept. 20, 2015, and has a resolution of 450 feet (140 meters) per pixel." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19980_ip.jpg" data-link="/spaceimages/details.php?id=PIA19980" data-title="Dawn HAMO Image 38" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>
</div>]

In [9]:
featured_img2= soup2.find('a',class_="button fancybox")
print(featured_img2)

browser.click_link_by_partial_text('FULL IMAGE')

<a class="button fancybox" data-description="This image, taken by NASA's Dawn spacecraft, shows a portion of the southern hemisphere of dwarf planet Ceres from an altitude of 915 miles (1,470 kilometers). The image was taken on Sept. 20, 2015, and has a resolution of 450 feet (140 meters) per pixel." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19980_ip.jpg" data-link="/spaceimages/details.php?id=PIA19980" data-title="Dawn HAMO Image 38" id="full_image">
					FULL IMAGE
				  </a>

In [10]:
browser.click_link_by_partial_text('more info')
image_html = browser.html
soup2 = bs(image_html, 'html.parser')

image = soup2.find('figure', class_="lede").find('a')['href']
print(image)

featured_image_url = "https://www.jpl.nasa.gov" + image

print(featured_image_url)

/spaceimages/images/largesize/PIA19980_hires.jpg
https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19980_hires.jpg

In [ ]:
# Mars Weather

In [17]:
browser = Browser('chrome', headless=False)
img_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(img_url)

In [20]:
html = browser.html
soup3 =bs(html, 'html.parser')

mars_weather = ''

for div in soup3.find_all('div', attrs={'data-name': 'Mars Weather'}):
    tweet = div.find('p', class_='tweet-text')
    if tweet and tweet.text.find('Sol ') != -1:
        mars_weather = mars_weather + tweet.text.strip().replace('\n', ' ')
        break
    else:
        pass
    
print(mars_weather)

Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52pic.twitter.com/anlHR95BMs

In [ ]:
#  Mars Facts

In [12]:
#Using Pandas to get data about Mars
url = 'http://space-facts.com/mars/'
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
mars_df=tables[0]
mars_df.columns=['Profile', 'Stats']
mars_df.head(10)

                Profile                          Stats
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
mars_df.set_index('Profile', inplace= True)
mars_df.head(10)

                                              Stats
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
mars_table=mars_df.to_html
print(mars_table)

<bound method DataFrame.to_html of                                               Stats
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers>

In [ ]:
# Mars Hemispheres

In [16]:
browser = Browser('chrome', headless=False)
img_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(img_url)

In [17]:
html = browser.html
soup5 = bs(html, 'html.parser')
hemisphere_image_urls = []


items = soup5.find_all('div', class_='item')

# main_url 
main_url = 'https://astrogeology.usgs.gov'

# Loop 
for i in items: 
    title = i.find('h3').text
    
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    print(partial_img_url)
    
    # Visit the link that contains the full image website 
    browser.visit(main_url + partial_img_url)
    
# HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website 
    soup = bs( partial_img_html, 'html.parser')
    
    # Retrieve full image source 
    full_img_url = main_url + soup.find('img', class_='wide-image')['src']
    print(full_img_url)
 

 
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : full_img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

/search/map/Mars/Viking/cerberus_enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
/search/map/Mars/Viking/schiaparelli_enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
/search/map/Mars/Viking/syrtis_major_enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
/search/map/Mars/Viking/valles_marineris_enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]