In [1]:
import pandas as pd

In [2]:
election_file="Resources/election_data.csv"

In [3]:
election_file_pd = pd.read_csv(election_file)
election_file_pd.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [6]:
total_votes = election_file_pd['Voter ID'].count()
print(total_votes)

3521001

In [18]:
candidate_counts = election_file_pd['Candidate'].value_counts()
candidate_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

percentages = round((candidate_counts / total_votes) * 100, 2)
percentages

In [32]:
for i in range(0,len(candidate_counts)):
    print("{}: {}% ({})".format(candidate_counts.index[i],percentages[i],candidate_counts[i]))

Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)

In [28]:
percentages

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64