In [56]:
import pandas as pd

In [57]:
budget_file="Resources/budget_data.csv"

In [58]:
# Use Pandas to read data
budget_file_pd = pd.read_csv(budget_file)
budget_file_pd.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [50]:
# Use Pandas to decribe
budget_file_pd.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [48]:
total_file=budget_file_pd["Date"].str.split('-', 1).str[0]
print (total_file)
print(len(total_file))

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
12    Jan
13    Feb
14    Mar
15    Apr
16    May
17    Jun
18    Jul
19    Aug
20    Sep
21    Oct
22    Nov
23    Dec
24    Jan
25    Feb
26    Mar
27    Apr
28    May
29    Jun
     ...
56    Sep
57    Oct
58    Nov
59    Dec
60    Jan
61    Feb
62    Mar
63    Apr
64    May
65    Jun
66    Jul
67    Aug
68    Sep
69    Oct
70    Nov
71    Dec
72    Jan
73    Feb
74    Mar
75    Apr
76    May
77    Jun
78    Jul
79    Aug
80    Sep
81    Oct
82    Nov
83    Dec
84    Jan
85    Feb
Name: Date, Length: 86, dtype: object
86

In [66]:
calc=budget_file_pd["Profit/Losses"].sum()
calc
print(calc)

38382578

In [ ]:
for row in data:
    change_list = []
    change = difference between this row and last row
    change_list.append(change)
    avg = average of change_list