In [32]:
import pandas as pd

In [35]:
budget_file="Resources/budget_data.csv"

In [37]:
# Use Pandas to read data
budget_file_pd = pd.read_csv(budget_file)
budget_file_pd.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532